.user-card {
  .user {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: medium;
  }
  > h5 {
    padding-left: 1rem;
  }
}

#logout-button {
  width: auto;
  height: auto;
  background-color: aliceblue;
  font-weight: bold;
}
