.sidebarMainContainer {
  display: flex;
  width: 100%;
}

.mainContainer {
  width: 85%;
  margin-left: 14%;
  padding: 1rem;
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .sidebarMainContainer {
    flex-direction: column;
  }

  .mainContainer {
    width: 100%;
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
    min-width: 0;
  }

  .navbar-container {
    width: 100%;
    min-width: 0;
    margin-left: 0;
  }
}
