.navbar-container {
  height: 5rem;
  background-color: #f7f8fa;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  border-bottom: 1px solid rgb(175, 166, 166);
  color: #cfcfcf;
  margin-left: 0%;
}

.navbar-container .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3rem;
}

.navbar-container .search img {
  width: 1.05rem;
  height: 1.05rem;
  background-color: aqua;
}

.navbar-container .user {
  width: 14%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-weight: bold;
  border-left: 1px solid rgb(175, 166, 166);

  justify-content: space-around;
}
.userid {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.user h5 {
  font-size: 16px;
  color: black;
  margin: 0%;
}
.user img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 18px;
  border: 1px solid black;
}

.loginLoadernav {
  margin-left: 5rem;
  top: 30%;
  left: 40%;
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 768px) {
}
