.sidebardiv {
  background-color: #1d262d;
  width: 20%;
  min-width: 200px;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10rem;
}
.sidebarimg {
  margin-top: 2rem;
  /* margin-left: 2rem; */
}
.sidebarul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  flex-wrap: nowrap;
  width: 100%;
  background-color: transparent;
  margin: 0%;
  border: none;
  align-items: center;
  justify-content: center;
}
.sidebarbtn {
  width: 15rem;
  height: 3.5rem;
  background-color: #28343e;
  border: none;
  text-align: left;
  border-radius: 0 6px 6px 0;
  color: white !important;
  cursor: pointer;
}

.sidebarul .navbar-nav .nav-item .nav-link.active {
  text-decoration: none !important;
  color: #fe7912 !important;

  /* text-decoratio; */
}
.sidebarul .navbar-nav .nav-item .nav-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #fe7912;
  color: #fe7912;
  border-radius: 12px 0 0 12px;
}
.navigation-bar-light.navbar-expand-md.navbar-underline
  .navbar-nav
  .nav-link.active::after {
  background-color: transparent;
}
.navigation-bar .navbar-nav .nav-link,
.navigation-bar .navbar-nav .navbar-text {
  padding: 1rem 0.8rem;
  margin: 1rem 0;
}

.navigation-bar .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ClayNavigationBar {
  background-color: #1d262d;
}
